*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/CSS/12. Exercise 2/image.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}
.image{
    position: relative;
    top: 250px;
    left: 500px;
    border: 2px solid brown;
    width: 200px;
    height: 200px;
    background-image: url("/CSS/12. Exercise 2/image.jpeg");
    background-position: center;
}