* {
    margin: 0;
    padding: 0;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

body{
    background-color: black;
    color: white;
}

.main {
    background-image: url("items/bigImg.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 96vh;
    position: relative;
}

@media only screen and ( max-width:1185px) {
    .main{
        width: 180vh;
    }
}

.back {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 70%;
    z-index: 0;
}

.main nav ul {
    list-style: none;
    position: relative;
    z-index: 1;
}

.main nav ul {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}

#sign{
    width: 76px;
    height: 35px;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: 700;
    background-color: red;
    color: white;
}

#sign:hover{
    background-color: rgb(148, 18, 18);
    border-color: rgb(148, 18, 18);
}

#sign:active{
    background-color: red;
    border-color: red;
}

#bigImg {
    width: 150px;
}

#lang {
    color: white;
    width: 76px;
    font-weight: 700;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    opacity: 70%;
}

.cont {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 25px;
}

.c1{
    font-size: 4rem;
    font-weight: 900;
    width: 800px;
    text-align: center;
}
.c2{
    font-size: 1.25rem;
    font-weight: 500;
    width: 700px;
    text-align: center;
}

.emailIn{
    background-color: black;
    width: 400px;
    height: 55px;
    border-radius: 5px;
    border-color: rgb(238, 235, 235);
    opacity: 70%;
    padding: 7px;
    box-sizing: border-box;
    font-size: larger;
    color: white;
}

.emailIn::placeholder{
    font-size: 15px;
    position: relative;
    left: 7px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(214, 213, 213);
}

#getStart{
    background-color: red;
    position: relative;
    top: 4px;
    color: white;
    height: 55px;
    width: 205px;
    font-size:25px;
    font-weight: 500;
    margin-left: 5px;
    border: 1px solid red;
    border-radius: 5px;
}

#getStart:hover{
    background-color: rgb(148, 18, 18);
    border-color: rgb(148, 18, 18);
}

#getStart:active{
    background-color: red;
    border-color: red;
}

#getStart img{
    position: relative;
    top: 3px;
    left: 7px;
}

.curved-bar {
    position: relative;
    top: -6px;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    height: 9px; 
    clip-path: ellipse(60% 100% at 50% 115%);
}   

.curved-bar-content {
    position: relative;
    top: -6px;
    width: 100%;
    height: 50px;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
}

.tn{
    /* padding-left: 50px; */
    margin: auto;
    width: 60vw;
}

.trandingNow{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

#contry, #type{
    background-color: rgb(28, 27, 27);
    color: white;
    border-radius: 5px;
    width: 95px;
    height: 40px;
    margin-right: 15px;
    font-size: 16px;
    margin-bottom: 20px;
}


.list{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.b1, .b2, .b3, .b4{
    width: 215px;
    height: 300px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
}

.b1{
    background: url("https://occ-0-5690-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXL-CdqBIJpELXwtWQliB94tD9QIgJgwyIpkLwXRRfi-mGEIUgBd7KmQYRPDaqjNnW1QxKDc-GE2aSeu7dNpB37O1_WjM4r9nwmTR4BeQFr05x3Snudb08KLCl0guB8xy43xGmozNJaKBq8nfwk4V2Yai_rMYpZK-IWWhPmHQNzZWKWeNhyOWEBi3tXcFS50aXfeni3o8pedYDB2bAGVvpLRTD8toZG5zKLsrmpPNIRtCt6YSarGuZfzFkosDsrBS9vX2MoLAgH-r7IQmAfU735FCdOZdnt7mrjpSx5wm2QLub1NdEYXbVQJ-tE_fgkklKbUvCDGp1z3Vo7dX8b6p-A.webp?r=4bd&quot");
    background-repeat: no-repeat;
    background-size: 100%;
}
.b2{
    background-image: url("https://occ-0-5690-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABRh-gv1FQdodOSeMDRsLwy4WESuMjUaflt5lJieY8l_XVXnoZuabtBVmGfyYgqj-spmMyW62FOxFK-YxssQ-z5dmMEoTSre0Kdx8E6y74dzKprPzKEsvlsZONM8rQ4EQk0TF2OLJtz-Bc_hnwSblBS0TvIw4Xik5Iyk.webp?r=e1d&quot");
    background-repeat: no-repeat;
    background-size: 100%;
}
.b3{
    background-image: url("https://occ-0-5690-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABSPpe3Tz1eBPcSTnJFlzbTdsC0tX_aTAcHEdJ_zjPFal5k32DZeFBSJDbRNvdPs_3kc8nKFCKlwtoAHNA0D9gzj6PXysCIm-Taan71b7nJOujCJuZ-WRKkHdCA_A09MR1M5qtpHDPhUIzavGH-cuH7MlF4Rh-nRerMnz6XcOosWoP7qSPhtIUF9rBkvXcIIGSfK_qUvSD76B3wnH1GQjNEJ49ayg7RF9Ycq7u1r5WlAJ1vJE1JU3vOhpCWl_jlNnWqGG_sVP6-MGx25-U_H1Tw8dx4igf4q8FTpbWPNFus1FJjChLZy2L58j7ooZ6vreV2uGNUCy0jyhNDIiUHov2pQ.webp?r=9db&quot"); 
    background-repeat: no-repeat;
    background-size: 100%;
}
.b4{
    background-image: url("https://occ-0-5690-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXxhL8En7z0F1Y5caNx_dh_8Ne4-EMgfQ523hnGfGoMU4npo35EPk4bSmPEX2T4U7UltooGiNkiapDJ70kodFdH0DzZLRiE59f7L2FXbB-fgGzFXLkNBzaYOUMeY1OodZCC58V8izXXlNUEDMSlvi-wiOvNObkNLnyM.webp?r=bf7&quot");
    background-repeat: no-repeat;
    background-size: 100%;
}
.b5 button{
    background-color: rgb(28, 27, 27);
    border: 1px solid rgb(28, 27, 27);
    height: 100px;
    border-radius: 7%;
    margin-top: 50%;
}

.b5 button:hover{
    background-color: rgb(54, 54, 54);
}

.b5 button:active{
    background-color: rgb(28, 27, 27);
}

.mr{
    padding-left: 50px;
    margin: auto;
    width: 1200px;
}

.mrtj{
    font-size: 32px;
    font-weight: 700;
    margin: 50px 0px 20px 0px;
}

.list2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.d1, .d2, .d3, .d4{
    position: relative;
    width: 285px;
    height: 325px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
}

.h1{
    font-size: 24px;
    font-weight: 500;
    margin: 25px;
}

.h2{
    font-size: 16px;
    margin: 25px;
    color: #FFFFFFB3;
    word-break: keep-all;
}

.i{
    position: absolute;
    bottom: 10px;
    right: 25px;
}

.fa{
    margin: auto;
    width: 1200px;
}

.faq{
    font-size: 32px;
    font-weight: 700;
    margin: 50px 0px 20px 0px;
}

.list3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 7px;
}

.f1, .f2, .f3, .f4, .f5, .f6{
    display: flex;
    justify-content: space-between;
    height: 85px;
    padding: 24px;
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(28, 28, 28);
    color: white;
    border: 1px solid black;
}
.f1:hover, .f2:hover, .f3:hover, .f4:hover, .f5:hover, .f6:hover{
    background-color: rgb(54, 54, 54);
}

.rep {
    margin-top: 50px;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 25px;
}