* {
    margin: 0;
    padding: 0;
}
/* @media not|only mediatype and (expressions) {
    CSS-Code;
} */
body{
    background-color: aquamarine;
}
.boxes{
    display: flex;
}
.box{
    width: 400px;
    height: 400px;
    margin: 5px;
    background-color: wheat;
}
@media only screen and ( max-width:400px ) {
    body{
        background-color: green;
    }
    .boxes{
        flex-direction: column;
    }
}
@media only screen and (orientation: portrait) {
    body{
        border: 3px solid orangered;
    }
}
/* @media only screen and ( min-width:700px ) {
    body{
        background-color: green;
    }
} */