*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(198, 197, 197);
}
.card{
    border: none;
    margin: 50px 50px;
    height: 450px;
    width: 300px;
    border-radius: 20px;
    display: inline-block;
}
.image{
    border-radius: 20px;
    width: 290px;
    height: 200px;
    margin: 5px;
}
.list ul li{
    color: rgb(155, 153, 153);
    display: inline-block;
    background-color: white;
    margin: 0px 0px 0px 10px;
    padding: 3px;
    border: 2px solid rgb(239, 238, 238);
    border-radius: 30px;
    position: relative;
    left: 5px;
}
.content{
    font-style: italic;
    margin: 5px 10px;
    height: 160px;
    overflow: hidden;
}
.content p{
    color: rgb(107, 107, 107);
    line-height: 25px;
}
.bot{
    text-align: center;
}
.bot button{
    font-style: italic;
    background-color: #d2e9f1;
    color: #2f9ecd;
    font-weight:500;
    border: none;
    border-radius: 20px;
    padding: 5px;
    cursor:pointer;
}
.bot button:hover{
    background-color: rgb(194, 225, 246);
    color: rgb(10, 136, 214);
}
.bot button:active{
    background-color: #d2e9f1;
}