*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    border: 2px solid greenyellow;
    height: 50vh;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
}
.item{
    width: 60px;
    height: 60px;
    background-color: blue;
    margin: 10px;
    text-align: center;
}