*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    border: 2px solid greenyellow;
    height: 50vh;
    flex-wrap: wrap;
    align-content: center;
    /* align-items: center; */
    /* there is no jestify item in flex box */
}
.item{
    width: 60px;
    height: 60px;
    background-color: blue;
    margin: 10px;
    text-align: center;
}