*{
    margin: 0;
    padding: 0;
}
:root{
    --first: black;
    --color: white;
    --second: rgb(95, 93, 93);
}
body{
    background-color: var(--second);
}
nav{
    background-color: var(--first);
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    color: var(--color);
    padding: 20px;
}
ul li a{
    color: var(--color);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
a:active{
    color: var(--second);
}
li:hover{
    background-color:rgb(50, 50, 50);
}