*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.navBar{
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    /* border: 2px solid red; */
    background-color: rgb(39, 39, 39);
    width: 25vw;
    height: 90vh;
    margin: 7px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
}
.right{
    /* border: 2px solid red; */
    box-sizing: border-box;
    background-color: rgb(39, 39, 39);
    width: 75vw;
    height: 90vh;
    margin: 7px 7px 7px 0px;
    border-radius: 20px;
}

.navLeft{
    display: flex;
    margin: 5px;
    padding-right: 30px;
}

.navMid{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    left: 30px;
}

#home{
    height: 25px;
    background-color: rgb(39, 39, 39);
    border-radius: 50%;
    padding: 9px;
    cursor: pointer;
}

#home:hover{
    transform: scale(1.05);
}


.searching{
    display: flex;
    background-color: rgb(39, 39, 39);
    border-color: (39, 39, 39);
    padding: 9px;
    border-radius: 25px;
}

.searching:hover{
    background-color: rgb(57, 57, 57) ;
}

#search{
    background-color: inherit;
    border: none;
    color: white;
    outline: none;
    width: 250px;
    font-size: medium;
}

#seachLogo{
    height: 25px;
    margin-right: 5px;
}

.browser{
    display: flex;
    gap: 10px;
    font-size: x-large;
    font-weight: 100;
}

#file{
    height: 25px;
}

#file:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.navRight{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navRight a{
    font-size: 16px;
    font-weight: 700;
    color: rgb(173, 172, 172);
    text-decoration: none;
}

.navRight a:hover{
    transform: scale(1.05);
    color: white;
}

.links{
    display: flex;
    gap: 10px;
}

.installing{
    display: flex;
    align-items: center;
    gap: 35px;
}

.installing span{
    font-size: x-large;
}

.connect{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logIn{
    padding: 13px 25px;
    border-radius: 40px;
    border: none;
    margin: 0px 5px ;
    font-size: 16px;
    font-weight: 700;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
}

.logIn:hover{
    transform: scale(1.05);
}

#logo{
    margin-left: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.content{
    display: flex;
}

.playHead{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.phleft{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.phead{
    font-size: 16px;
    font-weight: 700;
    color: RGB(179,179,179);
}

.plus{
    margin: 20px;
}

.ablinks{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.ablinks a{
    color: RGB(179,179,179);
    text-decoration: none;
    font-size: small;
    line-height: 20px;
    margin: 5px;
}

.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(39, 39, 39);
    margin: 30px auto;
    padding: 7px 10px;
    border: 2px solid rgb(173, 172, 172);
    border-radius: 15px;
    cursor: pointer;
    gap: 5px;
}

.lang:hover , .ablinks a:hover{
    transform: scale(1.05);
}

.lang span {
    display: flex;
    align-items: center;
}

.bottom{
    position: absolute;
    bottom: 0;
}
