*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.navBar{
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    /* border: 2px solid red; */
    background-color: rgb(39, 39, 39);
    width: 20vw;
    height: 90vh;
    margin: 7px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
}
.right{
    /* border: 2px solid red; */
    box-sizing: border-box;
    background-color: rgb(39, 39, 39);
    width: 80vw;
    height: 90vh;
    margin: 7px 7px 7px 0px;
    border-radius: 20px;
}

.navLeft{
    display: flex;
    margin: 5px;
    padding-right: 30px;
}

.navMid{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    left: 30px;
}

#home{
    height: 25px;
    background-color: rgb(39, 39, 39);
    border-radius: 50%;
    padding: 9px;
    cursor: pointer;
}

#home:hover{
    transform: scale(1.05);
}


.searching{
    display: flex;
    background-color: rgb(39, 39, 39);
    border-color: (39, 39, 39);
    padding: 9px;
    border-radius: 25px;
}

.searching:hover{
    background-color: rgb(57, 57, 57) ;
}

#search{
    background-color: inherit;
    border: none;
    color: white;
    outline: none;
    width: 250px;
    font-size: medium;
}

#seachLogo{
    height: 25px;
    margin-right: 5px;
}

.browser{
    display: flex;
    gap: 10px;
    font-size: x-large;
    font-weight: 100;
}

#file{
    height: 25px;
}

#file:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.navRight{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navRight a{
    font-size: 16px;
    font-weight: 700;
    color: rgb(173, 172, 172);
    text-decoration: none;
}

.navRight a:hover{
    transform: scale(1.05);
    color: white;
}

.links{
    display: flex;
    gap: 10px;
}

.installing{
    display: flex;
    align-items: center;
    gap: 35px;
}

.installing span{
    font-size: x-large;
}

.connect{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logIn{
    padding: 13px 25px;
    border-radius: 40px;
    border: none;
    margin: 0px 5px ;
    font-size: 16px;
    font-weight: 700;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
}

.logIn:hover{
    transform: scale(1.05);
}

#logo{
    margin-left: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.content{
    display: flex;
}

.playHead{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.phleft{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0px 20px 20px;
}


.phead{
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: RGB(179,179,179);
}

.phead:hover{
    color: white;
}
.plus{
    padding: 10px;
    margin: 20px 20px 20px 0px;
}

.plus:hover{
    background-color: rgb(59, 59, 59);
    padding: 10px;
    border-radius: 50%;
}

.ablinks{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.ablinks a{
    color: RGB(179,179,179);
    text-decoration: none;
    font-size: small;
    line-height: 20px;
    margin: 5px;
}

.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(39, 39, 39);
    margin: 30px auto;
    padding: 7px 10px;
    border: 2px solid rgb(173, 172, 172);
    border-radius: 15px;
    cursor: pointer;
    gap: 5px;
}

.lang:hover , .ablinks a:hover{
    transform: scale(1.05);
}

.lang span {
    display: flex;
    align-items: center;
}

.bottom{
    position: absolute;
    bottom: 0;
}   

.artist , .song{
    margin: 25px;
}

.artheading , .sheading{
    font-size: 24px;
    font-weight: 700;
}

.artheading:hover , .sheading:hover{
    text-decoration: underline;
}

.artboxs , .songboxs{
    display: flex;
    margin-top: 10px;
    overflow:scroll;
    scrollbar-width: none;
}
.artbox , .songbox{
    position: relative;
    width: 100%;
    height: 299px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.artbox:hover , .songbox:hover{
    background: linear-gradient(to bottom, rgb(39, 39, 39)
    , #464646);
}

.circle{
    position: relative;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 10px;
    background-position: center;
    width: 220px;
    height: 220px;
    box-shadow: 4px 4px 20px black;
}

.circle img{
    position: absolute;
    background-color: rgb(53, 243, 53);
    padding: 12px;
    height: 30px;
    border-radius: 50%;
    bottom: 0px;
    display: none;
    right: 0px;
    cursor: pointer;
}

.circle img:hover{
    transform: scale(1.07);
    background-color: rgb(100, 252, 100);
    transition: transform , 0.25s;
}

#c1{
    background-image: url("Images/img1.png");
}
#c2{
    background-image: url("Images/img2.jpeg");
}
#c3{
    background-image: url("Images/img3.png");
}
#c4{
    background-image: url("Images/img4.jpeg");
}
#c5{
    background-image: url("Images/img5.jpeg");
}
#c6{
    background-image: url("Images/img6.jpeg");
}

.artDetail{
    margin: 0px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.artist_name{
    font-size: 16px;
    font-weight: 600;
}

.artist_name:hover{
    text-decoration: underline;
}

.artist_type{
    font-size: 12px;
    color: rgb(173, 172, 172);
}

.song{
    margin-top: 60px;
}